mat-expansion-panel {
  margin: 0 auto;
  width: 50%;
}

.expand-wrapper {
  box-sizing: border-box;
  padding-top: 8px;
}

.wrapper {
  max-height: 80%;
  width: 50%;
  margin: 16px auto 0;
  overflow-x: hidden;
  overflow-y: auto;
}

:host {
  padding-top: 8px;
}
