<div class="expand-wrapper">
  <mat-expansion-panel>

    <mat-expansion-panel-header>
      <mat-panel-title>New To-Do</mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <app-todo-form [isNewTodo]="true"
                     (newTodoSave)="saveTodo($event)">
      </app-todo-form>
    </ng-template>

  </mat-expansion-panel>
</div>

<div class="wrapper">
  <app-todo *ngFor="let todo of todos; first as isFirst"
            [ngClass]="isFirst ? 'first' : ''"
            [todo]="todo"
            [listItem]="true"
            (deleteTodo)="deleteTodo($event)"
            (updateTodo)="updateTodo($event)">
  </app-todo>
</div>
