%lg-sizing {
  @media screen and (min-width: 1201px) {
    width: 50%;
  }
}

%med-sizing {
  @media screen and (max-width: 1200px) {
    width: 70%;
  }
}

%sm-sizing {
  @media screen and (max-width: 719px) {
    width: 95%;
  }
}

mat-expansion-panel {
  margin: 0 auto;

  @extend %lg-sizing;

  @extend %med-sizing;

  @extend %sm-sizing;
}

.expand-wrapper {
  box-sizing: border-box;
  padding-top: 8px;
}

.wrapper {
  max-height: 80%;
  margin: 16px auto 0;
  overflow-x: hidden;
  overflow-y: auto;


  @extend %lg-sizing;

  @extend %med-sizing;

  @extend %sm-sizing;
}

:host {
  padding-top: 8px;
}
