<form [formGroup]="todoForm"
      [id]="'todoForm_'+this.uniqueId"
      (ngSubmit)="saveNewTodo($event);">
  <mat-form-field class="name">
    <mat-label>Name</mat-label>
    <input matInput
           [id]="'name_'+this.uniqueId"
           name="name"
           required
           minlength="1"
           formControlName="name">
  </mat-form-field>

  <mat-form-field class="description">
    <mat-label>Description</mat-label>
    <textarea matInput
              [id]="'description_'+this.uniqueId"
              name="description"
              formControlName="description">
  </textarea>
  </mat-form-field>

  <mat-form-field class="dueDate">
    <mat-label>Due Date</mat-label>
    <input matInput
           [matDatepicker]="picker"
           [id]="'date_'+this.uniqueId"
           name="date"
           minlength="1"
           formControlName="dueDate">
    <mat-datepicker-toggle matSuffix
                           [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox formControlName="isComplete"
                [name]="'isComplete_' + this.uniqueId"
                [id]="'isComplete_' + this.uniqueId"
                class="isComplete">
    Is Complete
  </mat-checkbox>

  <ng-container *ngIf="isNewTodo">
    <mat-action-row>
      <div *ngIf="todoForm.touched && !todoForm.valid"
           class="errors">
        <ul>
          <li *ngIf="name && name.invalid">Name is required.</li>
        </ul>
      </div>
      <div class="button-row">
        <button mat-icon-button
                aria-label="Save"
                [disabled]="!todoForm.valid"
                type="submit">
          <mat-icon role="presentation">save</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </ng-container>

  <ng-container *ngIf="!isNewTodo">
    <mat-card-actions>
      <button type="submit"
              mat-icon-button
              matTooltip="Save"
              matTooltipPosition="below"
              aria-label="Save"
              (click)="updateTodo()">
        <mat-icon role="presentation">save</mat-icon>
      </button>
      <button type="button"
              mat-icon-button
              matTooltip="Cancel"
              matTooltipPosition="below"
              aria-label="Cancel"
              (click)="toggleEditMode()">
        <mat-icon role="presentation">cancel</mat-icon>
      </button>
    </mat-card-actions>
  </ng-container>
</form>
