<form #todoForm="ngForm"
      id="todoForm"
      (ngSubmit)="saveNewTodo()">
  <mat-form-field class="name">
    <mat-label>Name</mat-label>
    <input matInput
           id="name"
           name="name"
           required
           minlength="1"
           [(ngModel)]="todo.name"
           [value]="todo.name">
  </mat-form-field>

  <mat-form-field class="description">
    <mat-label>Description</mat-label>
    <textarea matInput
              id="description"
              name="description"
              [(ngModel)]="todo.description"
              [value]="todo.description">
  </textarea>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="todo.isComplete"
                [checked]="todo.isComplete"
                name="isComplete"
                id="isComplete"
                class="isComplete">
    Is Complete
  </mat-checkbox>

  <ng-container *ngIf="isNewTodo">
    <mat-action-row>
      <div class="button-row">
        <button mat-icon-button
                aria-label="Save"
                type="submit"
                [disabled]="!todoForm.valid">
          <mat-icon role="presentation">save</mat-icon>
        </button>
      </div>
    </mat-action-row>
  </ng-container>
</form>
